* {
    padding: 0;
}

#counter {
    width: 90px;
    margin: 0 auto;
    padding-bottom: 60px;
}

#gallery {
    margin: 0 auto;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: nowrap;
    width: 900px;
}

.gallery_item {
    width: 300px;
    height: 150px;
    list-style: none;
}

.gallery_image {
    width: 300px;
    height: 150px;
}

#validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}